@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.yeseva-one-font {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}

/* shered styesls */
.container{
    max-width: 1130px;
    margin: 0 auto;
}
.text-color{
    color: #E95A08;
}
p{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(62, 62, 62);
    text-align: justify;
}

.btn{
    width: 170px;
    height: 50px;
    background-color: #E95A08;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    border: none
}
/* header part */
/* navber */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav > ul{
    display: flex;
    gap: 10px;
}
.nav > ul >li{
    list-style: none;
    margin-right: 10px;
}
.nav > ul > li >a{
    text-decoration: none;
    color: black;
}
.nav h2{
    font-size: 2rem;
    font-weight: 700;
}
/* banner part */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-left{
    flex: 1;
}
.banner-left h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.banner-right{
    flex: 1;   
}
/* My mission */
.mission{
    text-align: center;
    justify-content: center;
}
.mission-container{
    display: flex;
    gap: 20px;
}
.mission-child{
    max-width: 360px;
    height: 370px;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 10px;
    text-align: left;
    padding:0 10px;
}
.mission-child h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.mission h2{
    font-size: 3rem;
    font-weight: 700;
}

/* develop section */
.develop{
    display: flex;
    margin-top: 100px;
    gap: 50px;
}
.develop-right h2{
    font-size: 2.1rem;
    font-weight: 700;
}
/* Build-Application */
.Build-Application{
    justify-content: center;
    text-align: center;
}
.Build-Application-container{
    display: flex;
    gap: 30px;
    text-align: left;
    align-items: center;
}
.app-title{
    font-size: 3rem;
    font-weight: 700;
}
.shape{
    position: absolute;
    z-index: 0;
}
.app{
    position: relative;
    z-index: 1;
}